<!DOCTYPE html>
<html>
    <head>
        <title>Wiki - <%= title %></title>

        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="description" content="A simple wiki for UTT NPOs">

        <link rel="stylesheet" href="../bower_components/materialize/dist/css/materialize.min.css">

        <link rel="stylesheet" href="../css/main.css"/>

        <% if (connected) { %>
            <link rel="stylesheet" href="../css/home.css">
        <% } else { %>
            <link rel="stylesheet" href="../css/login.css">
        <% } %>
    </head>
    <body class="grey-text text-darken-4">

        <% if (connected) { %>
            <div id="createArticle" class="modal">
                <div class="modal-content">
                    <h4>Création d'un article</h4>
                    <p>Veuillez indiquer le titre de l'article :</p>
                    <div class="input-field">
                        <input id="title" type="text" autocomplete="off">
                        <label for="title">Titre de l'article</label>
                    </div>
                    <p>Veuillez indiquer la catégorie de l'article :</p>
                    <div class="input-field">
                        <select id="category">
                            <% categories.forEach(function (category) { %>
                                <option value="<%= category.id %>"><%= category.name %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="row">
                        <div class="switch col s6 center-align">
                            <label>
                                Non visible par défaut
                                <input type="checkbox" id="isDefaultVisible" checked>
                                <span class="lever"></span>
                                Visible par défaut
                            </label>
                        </div>
                        <div class="switch col s6 center-align">
                            <label>
                                Non éditable par défaut
                                <input type="checkbox" id="isDefaultEditable" checked>
                                <span class="lever"></span>
                                Éditable par défaut
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat disabled" disabled>Confirmer</button>
                    <a href="#" class="modal-action modal-close waves-effect waves-orange btn-flat">Annuler</a>
                </div>
            </div>
        <% } %>

        <main class="container login home">
            <div class="row center-align">
                <h1>Wiki UTT</h1>
            </div>
            <div class="row">
                <% if (connected) { %>
                    <div class="input-field col s12 blue-text">
                        <i class="mdi-action-search prefix"></i>
                        <input id="search" type="text" class="grey-text text-darken-4" autocomplete="off">
                        <label class="active grey-text  " for="search">Rechercher</label>
                    </div>
                <% } else { %>
                    <div class="col s8 offset-s2 center-align">
                        <button class="waves-effect waves-light btn blue" id="login">
                            <i class="mdi-action-lock-open left"></i>
                            Connexion avec le site étu
                        </button>
                    </div>
                <% } %>
            </div>
            <% if (connected) { %>
                <div class="collection grey-text" id="searchResults"></div>
                <ul class="collapsible popout" data-collapsible="accordion">
                    <% categories.forEach(function (category) { %>
                        <li id="<%= category.id %>">
                            <div class="collapsible-header">
                                <i class="mdi-file-folder"></i>
                                <%= category.name %>
                            </div>
                            <div class="collapsible-body">
                                <div class="collection">
                                </div>
                            </div>
                        </li>
                    <% }); %>
                </ul>
            <% } %>
        </main>

        <% if (connected) { %>
            <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
                <a class="btn-floating btn-large green lighten tooltipped modal-trigger" data-position="left"
                   data-tooltip="Créer un article" data-target="createArticle">
                    <i class="large mdi-editor-mode-edit"></i>
                </a>
            </div>
        <% } %>

        <script defer src="../bower_components/jquery/dist/jquery.min.js"></script>
        <script defer src="../bower_components/materialize/dist/js/materialize.min.js"></script>
        <script defer src="../bower_components/fuzzy/fuzzy-min.js"></script>

        <% if (connected) { %>
            <script defer src="../js/main.js"></script>
            <script defer src="../js/home.js"></script>
        <% } else { %>
            <script defer src="../js/login.js"></script>
        <% } %>
    </body>
</html>
